<div class="chrome-shark" ng-controller="ChromeShark.MainController">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <div class="row chrome-shark-main-row">
      <div class="chrome-shark-content-container col-sm-12">
          <div class="chrome-shark-content col-sm-12">
            <div class="chrome-shark-view-player" ng-show="viewState.current == 'player'">
              <div ag-include="'app/views/chrome-shark-view-player.html'"></div>
            </div>
            <div class="chrome-shark-view-help" ng-show="viewState.current == 'help'">
              <div ag-include="'app/views/chrome-shark-view-help.html'"></div>
            </div>
          </div>
      </div>
    </div>
</div>
